* {
    box-sizing: border-box;
}

.container {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    height: 200px;
    margin: 20px auto;
    padding: 10px;
    width: 60%;
    flex-wrap: wrap ;
}

.container div {
    background-color: red;
    border: 1px solid black;
    height: 50px;
    
}